@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: unset;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --ff-normal: "Poppins", sans-serif;

  --fw-thin: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-m: 0.8125rem;
  --fs-l: 0.9375rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;

  --color-base-800: hsl(0, 0%, 98%);
  --color-base-900: hsl(0, 0%, 100%);

  --color-primary-300: hsl(234, 12%, 34%);
  --color-primary-600: hsl(229, 6%, 66%);

  --color-drop-shadow: hsl(213, 45%, 67%, 0.5);

  --color-accent-supervisor: hsl(180, 62%, 55%);
  --color-accent-team-builder: hsl(0, 78%, 62%);
  --color-accent-karma: hsl(34, 97%, 64%);
  --color-accent-calculator: hsl(212, 86%, 64%);
}

body {
  font-family: var(--ff-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-m);
  background-color: var(--color-base-800);

  color: var(--color-primary-600);
  padding: 5.3125rem 2rem 4.875rem;
  text-align: center;
}

.heading {
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
  color: var(--color-primary-300);
}

h1 span {
  display: block;
}

h1 span:first-child {
  font-weight: var(--fw-thin);
}

p {
  font-size: var(--fs-l);
  line-height: 1.67;
}

ul {
  margin-top: 4.75rem;
  display: grid;
  gap: 1.4375rem;
}

li {
  position: relative;
  background-color: var(--color-base-900);
  border-radius: 0.5rem;
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem var(--color-drop-shadow);
  padding: 1.75rem;
  text-align: left;
  overflow: hidden;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0.25rem;
}

li[data-type="supervisor"]::before {
  background-color: var(--color-accent-supervisor);
}

li[data-type="team-builder"]::before {
  background-color: var(--color-accent-team-builder);
}

li[data-type="karma"]::before {
  background-color: var(--color-accent-karma);
}

li[data-type="calculator"]::before {
  background-color: var(--color-accent-calculator);
}

li h2 {
  color: var(--color-primary-300);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

li p {
  margin-top: 0.0625rem;
  line-height: 1.77;
}

li img {
  margin-left: auto;
  margin-top: 2rem;
  width: 3.56rem;
  aspect-ratio: 1/1;
}

@media (min-width: 50rem) {
  :root {
    --fs-2xl: 2.25rem;
  }

  body {
    padding: 5rem;
  }

  .heading {
    max-width: 33.75rem;
  }

  ul {
    margin-top: 4rem;
    justify-content: center;
    grid-template-columns: content content content;
    grid-template-rows: content content;
    gap: 1.875rem;
  }

  li {
    padding: 2rem;
    max-width: 21.875rem;
    min-height: 15.625rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-row: span 1;
  }

  li p {
    margin-top: 0.375rem;
    margin-bottom: 2rem;
  }

  li img {
    margin-top: auto;
    width: 4rem;
  }

  li:first-child {
    grid-area: 1 / 1 / 3 / 1;
    margin: auto;
  }

  li:last-child {
    margin: auto;
    grid-area: 1 / 3 / 3 / 3;
  }
}
